/* .IghvXqj {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.IghvXqj:hover {
    text-decoration: none
}

.gvTPgPe {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 0;
    position: relative
}

.srJdQZX {
    color: #62646a;
    cursor: pointer;
    min-width: 200px
}

.srJdQZX.oz6omI7 {
    background-color: #f5f5f5
}

.Mgqn3eI {
    fill: #95979d;
    -webkit-box-ordinal-group: 3
}

.UK6T_C4,
.Mgqn3eI {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2
}

.UK6T_C4 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-box-ordinal-group: 3;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.nFghBOe {
    fill: #74767e;
    background: none;
    border: none;
    display: inline-block;
    margin: 0;
    padding: 0
}

.nFghBOe svg {
    float: left;
    height: 100%;
    width: 100%
}

.nFghBOe.YeY2NiI {
    cursor: pointer
}

.nFghBOe:focus {
    outline: none
}

.q4I2cbi {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #404145;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.q4I2cbi input[type=checkbox] {
    height: 0;
    opacity: 0;
    width: 0
}

.q4I2cbi input:checked+.pXLVVwY .po9hCU6 {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.q4I2cbi.kuqirr3 .po9hCU6,
.q4I2cbi.OZo94j0 .po9hCU6 {
    fill: #fff
}

.q4I2cbi.OZo94j0 input:checked+.pXLVVwY {
    background-color: #1dbf73
}

.q4I2cbi.kuqirr3 input:checked+.pXLVVwY {
    background-color: #446ee7
}

.q4I2cbi._6MSfqty.UN5cg5U input:focus+.pXLVVwY,
.q4I2cbi._6MSfqty.UN5cg5U:hover .pXLVVwY {
    border-color: #95979d
}

.q4I2cbi._6MSfqty.OZo94j0 .pXLVVwY {
    border-color: #62d49f
}

.q4I2cbi._6MSfqty.OZo94j0 input:focus+.pXLVVwY,
.q4I2cbi._6MSfqty.OZo94j0:hover .pXLVVwY {
    border-color: #1dbf73
}

.q4I2cbi.QwAUJss .pXLVVwY {
    background-color: rgba(0, 0, 0, .05);
    border-color: #fff;
    border-radius: 50%;
    height: 24px;
    width: 24px
}

.q4I2cbi.QwAUJss.OZo94j0:hover .pXLVVwY {
    background-color: #a6eaca
}

.q4I2cbi.QwAUJss.kuqirr3:hover .pXLVVwY {
    background-color: #b9c9f7
}

.q4I2cbi.QwAUJss:hover .po9hCU6 {
    opacity: 1;
    -webkit-transform: none;
    transform: none
}

.q4I2cbi._Dn48D9 .pXLVVwY {
    border-color: #f74040 !important
}

.q4I2cbi.PusxMSM .pXLVVwY {
    border-color: #19a463 !important
}

.q4I2cbi.b1VVmgc {
    color: #b5b6ba;
    pointer-events: none
}

.q4I2cbi.b1VVmgc .pXLVVwY {
    background-color: #efeff0 !important;
    border-color: #dadbdd
}

.q4I2cbi.b1VVmgc .pXLVVwY .po9hCU6 {
    fill: #dadbdd
}

.pXLVVwY {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #c5c6c9;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 18px;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: 8px;
    min-width: 18px;
    position: relative;
    width: 18px
}

.po9hCU6,
.pXLVVwY {
    -webkit-transition: 70ms cubic-bezier(.75, 0, .25, 1);
    transition: 70ms cubic-bezier(.75, 0, .25, 1)
}

.po9hCU6 {
    fill: #62646a;
    display: inline-block;
    font-style: inherit;
    font-weight: inherit;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.VvB91Hh {
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0 16px
}

.KJn652D {
    background-color: #e4e5e7;
    height: 1px;
    width: 100%
}

.ERJBFtd {
    z-index: 10 !important
}

.jj_1T4k {
    width: 350px
}

.y2EinTV {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #62646a;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    -webkit-justify-content: center;
    justify-content: center;
    line-height: 24px;
    padding: 8px 16px
}

.y2EinTV:hover {
    background-color: #fafafa
}

.iqNcR9P {
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out
}

.iqNcR9P.v0y3yti {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.ZbtofCC {
    color: #fff !important
}

.ZbtofCC:hover {
    background: transparent !important
}

.Yeg81PQ {
    border-radius: 100%;
    color: #b5b6ba;
    height: 25px;
    width: 25px
}

.Yeg81PQ:hover {
    background-color: #f0f4ff;
    color: #446ee7
}

.hYBDvLJ {
    fill: currentColor
}

.QXQPpo8 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #62646a;
    cursor: pointer
}

.swTSuXx {
    fill: #95979d;
    padding: 4px;
    -webkit-transition: -webkit-transform .15s ease-in-out;
    transition: -webkit-transform .15s ease-in-out;
    transition: transform .15s ease-in-out;
    transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out
}

.swTSuXx:hover {
    fill: #62646a
}

.myDJlMC {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.TrwHh9j {
    border: 1px solid #c5c6c9;
    border-radius: 4px
}

.TrwHh9j:hover {
    border-color: #95979d
}

.lTQ14Rz {
    color: #95979d;
    cursor: auto
}

.lTQ14Rz,
.lTQ14Rz:hover {
    background-color: #efeff0;
    border: 1px solid #dadbdd
}

.lTQ14Rz .swTSuXx,
.lTQ14Rz .swTSuXx:hover {
    fill: #c5c6c9
}

.pax49Xc {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    z-index: 10000
}

.pax49Xc.SNyt9Xi {
    display: none !important
}

.TjTqMMV {
    -webkit-animation: nzH4Ojs .1s linear;
    animation: nzH4Ojs .1s linear
}

@-webkit-keyframes nzH4Ojs {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes nzH4Ojs {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.ZkFkaJe {
    background-color: #fff;
    border: 1px solid #e4e5e7;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
    position: relative
}

.tmELUJj,
.tmELUJj .vpfXdaJ {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.tmELUJj .vpfXdaJ {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.tmELUJj.Z_rWxb2>.vpfXdaJ {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.tmELUJj.DX8eVtZ {
    position: relative
}

.ut3sFkN {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1
}

.fiverr-nav>ul>li {
    padding: 0 24px 0 0
}

@media(min-width:1082px)and (max-width:1240px) {
    .fiverr-nav>ul>li {
        padding-right: 20px
    }
}

.fiverr-nav>ul>li.display-from-sm {
    display: none
}

@media only screen and (min-width:600px) {
    .fiverr-nav>ul>li.display-from-sm {
        display: block
    }
}

.fiverr-nav>ul>li.display-from-md {
    display: none
}

@media only screen and (min-width:900px) {
    .fiverr-nav>ul>li.display-from-md {
        display: block
    }
}

.fiverr-nav>ul>li.display-from-lg {
    display: none
}

@media only screen and (min-width:1160px) {
    .fiverr-nav>ul>li.display-from-lg {
        display: block
    }
}

.fiverr-nav>ul>li.display-from-xl {
    display: none
}

@media only screen and (min-width:1760px) {
    .fiverr-nav>ul>li.display-from-xl {
        display: block
    }
}

.toggler-popover {
    display: inline-block;
    position: relative
}

.toggler-popover .target-wrap {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block
}

.toggler-popover aside {
    background-color: #fff;
    border: 1px solid #dadbdd;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
    position: absolute;
    z-index: 1001
}

.toggler-popover aside .tip,
.toggler-popover aside .tip:after {
    border-color: transparent;
    border-style: solid;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0
}

.toggler-popover aside .tip,
.toggler-popover aside .tip:after {
    border-width: 10px
}

.toggler-popover aside.bottom .tip,
.toggler-popover aside.bottom .tip:after,
.toggler-popover aside.top .tip,
.toggler-popover aside.top .tip:after {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.toggler-popover aside.bottom.place-center,
.toggler-popover aside.bottom.place-center .tip,
.toggler-popover aside.bottom.place-center .tip:after,
.toggler-popover aside.top.place-center,
.toggler-popover aside.top.place-center .tip,
.toggler-popover aside.top.place-center .tip:after {
    left: 50%
}

.toggler-popover aside.bottom.place-left,
.toggler-popover aside.top.place-left {
    right: 0
}

.toggler-popover aside.left.place-center,
.toggler-popover aside.left.place-center .tip,
.toggler-popover aside.left.place-center .tip:after,
.toggler-popover aside.right.place-center,
.toggler-popover aside.right.place-center .tip,
.toggler-popover aside.right.place-center .tip:after {
    top: 50%
}

.toggler-popover aside.left .tip,
.toggler-popover aside.left .tip:after,
.toggler-popover aside.right .tip,
.toggler-popover aside.right .tip:after {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.toggler-popover aside.left.place-top,
.toggler-popover aside.right.place-top {
    top: 100%
}

.toggler-popover aside.left.place-bottom,
.toggler-popover aside.right.place-bottom {
    top: 0
}

.toggler-popover aside.bottom .tip,
.toggler-popover aside.bottom .tip:after {
    border-bottom-color: rgba(0, 0, 0, .25);
    border-top-width: 0;
    top: -11px
}

.toggler-popover aside.bottom .tip:after {
    border-bottom-color: #fff;
    top: 1px
}

.toggler-popover aside.bottom.place-center {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.toggler-popover aside.top {
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.toggler-popover aside.top .tip,
.toggler-popover aside.top .tip:after {
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0, .25);
    top: 100%
}

.toggler-popover aside.top .tip:after {
    border-top-color: #fff;
    top: -11px
}

.toggler-popover aside.top.place-center {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%)
}

.toggler-popover aside.left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.toggler-popover aside.left .tip,
.toggler-popover aside.left .tip:after {
    border-left-color: rgba(0, 0, 0, .25);
    border-right-width: 0;
    left: 100%
}

.toggler-popover aside.left .tip:after {
    border-left-color: #fff;
    left: -11px
}

.toggler-popover aside.left.place-top {
    -webkit-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%)
}

.toggler-popover aside.left.place-center {
    -webkit-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%)
}

.toggler-popover aside.right {
    left: 100%
}

.toggler-popover aside.right .tip,
.toggler-popover aside.right .tip:after {
    border-left-width: 0;
    border-right-color: rgba(0, 0, 0, .25);
    left: -11px
}

.toggler-popover aside.right .tip:after {
    border-right-color: #fff;
    left: 1px
}

.toggler-popover aside.right.place-center {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.toggler-popover aside.right.place-top {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%)
}

.fiverr-nav .target-wrap>a,
.fiverr-nav .target-wrap>button {
    color: #74767e;
    font-size: 16px;
    font-weight: 600
}

.fiverr-nav .target-wrap>a:hover,
.fiverr-nav .target-wrap>button:hover {
    color: #1dbf73
}

.fiverr-nav .popover-nav-popover-items,
.fiverr-nav .popover-nav-popover-items>.target-wrap {
    display: block
}

.fiverr-nav .popover-nav-popover-items>aside {
    margin-top: 33px;
    position: absolute;
    top: 50%;
    z-index: 100
}

.fiverr-nav .popover-nav-popover-items .nav-popover-items-toggler {
    background: none;
    border: none;
    color: inherit;
    display: block;
    font: inherit;
    margin: 0;
    padding: 0;
    position: relative
}

.fiverr-nav .popover-nav-popover-items .nav-popover-items-content {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 180px;
    padding: 5px 15px
}

.fiverr-nav .nav-popover-items-content li {
    padding: 5px 0;
    white-space: nowrap
}

@media only screen and (min-width:1160px) {
    .fiverr-nav .nav-popover-items-content li.show-link {
        display: none
    }
}

.fiverr-nav .nav-popover-items-content .divider {
    border-top: 1px solid #dadbdd;
    font-size: 0;
    margin: 5px 0;
    padding: 0
}

.fiverr-nav .vertical-divider {
    border-left: 1px solid #dadbdd
}

.fiverr-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fiverr-nav.fiverr-nav-right {
    margin-left: 16px
}

.fiverr-nav.fiverr-nav-right.nav-with-space {
    margin-left: 0
}

@media only screen and (min-width:600px) {
    .fiverr-nav.fiverr-nav-right.nav-with-space {
        margin-left: 32px
    }

    .fiverr-nav.fiverr-nav-right {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-justify-content: flex-end;
        justify-content: flex-end
    }
}

.fiverr-nav>ul {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -24px
}

@media(max-width:600px) {

    .fiverr-header .fiverr-header-join:hover,
    .fiverr-header .fiverr-header-login:hover {
        background-color: transparent !important;
        color: #95979d !important
    }

    .fiverr-header .fiverr-header-join,
    .fiverr-header .fiverr-header-login {
        border: 0;
        color: #62646a !important;
        display: block;
        font-size: 16px !important;
        margin-top: -2px;
        padding: 0 !important
    }
}

.ZQi_S8t {
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 70ms cubic-bezier(.75, 0, .25, 1);
    transition: 70ms cubic-bezier(.75, 0, .25, 1)
}

.ZQi_S8t .LT6Ypiv {
    fill: currentColor;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden
}

.ZQi_S8t:focus {
    outline: none
}

.ZQi_S8t:hover {
    text-decoration: none
}

.ZQi_S8t.aFDYCpm,
.ZQi_S8t[disabled] {
    cursor: default;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ZQi_S8t.ZM8oA3j {
    padding: 15px 24px
}

.ZQi_S8t.MHWZydm {
    font-size: 14px;
    padding: 10px 16px
}

.ZQi_S8t.a1WZUBV {
    background: none;
    border-color: currentColor
}

.ZQi_S8t.a1WZUBV:active,
.ZQi_S8t.a1WZUBV:hover {
    border-color: transparent;
    color: #fff
}

.ZQi_S8t.a1WZUBV.YoCf74g .LT6Ypiv {
    fill: currentColor
}

.ZQi_S8t[href]:active,
.ZQi_S8t[href]:hover {
    color: #fff
}

.ZQi_S8t.AOOSxop:hover {
    background: #19a463
}

.ZQi_S8t.AOOSxop:active {
    background: #188652
}

.ZQi_S8t.AOOSxop.a1WZUBV.YoCf74g {
    border-color: #1dbf73
}

.ZQi_S8t.CIcMbDX:hover {
    background: #3f63c8
}

.ZQi_S8t.CIcMbDX:active {
    background: #3453a8
}

.ZQi_S8t.CIcMbDX.a1WZUBV.YoCf74g {
    border-color: #446ee7
}

.ZQi_S8t.ctefPaO:hover {
    background: #e37627
}

.ZQi_S8t.ctefPaO:active {
    background: #ca6923
}

.ZQi_S8t.ctefPaO.a1WZUBV.YoCf74g {
    border-color: #fc832b
}

.ZQi_S8t.laZlKc3:hover {
    background: #02b09a
}

.ZQi_S8t.laZlKc3:active {
    background: #029f8b
}

.ZQi_S8t.laZlKc3.a1WZUBV.YoCf74g {
    border-color: #02c2a9
}

.ZQi_S8t.dmatBOC:hover {
    background: #d93c3c
}

.ZQi_S8t.dmatBOC:active {
    background: #c43333
}

.ZQi_S8t.dmatBOC.a1WZUBV.YoCf74g {
    border-color: #f74040
}

.ZQi_S8t.VltNlue:hover {
    background: #e05698
}

.ZQi_S8t.VltNlue:active {
    background: #c14a83
}

.ZQi_S8t.VltNlue.a1WZUBV.YoCf74g {
    border-color: #ff62ad
}

.ZQi_S8t.YmeteBT:hover {
    background: #74767e
}

.ZQi_S8t.YmeteBT:active {
    background: #62646a
}

.ZQi_S8t.YmeteBT.a1WZUBV.YoCf74g {
    border-color: #95979d
}

.ZQi_S8t.mtfDr08:hover {
    background: #404145
}

.ZQi_S8t.mtfDr08:active {
    background: #222325
}

.ZQi_S8t.mtfDr08.a1WZUBV.YoCf74g {
    border-color: #222325
}

.ZQi_S8t.nxZbHom.a1WZUBV {
    border-color: #fff
}

.ZQi_S8t.nxZbHom.a1WZUBV.aFDYCpm {
    color: #fff !important;
    opacity: .5
}

.ZQi_S8t.nxZbHom.a1WZUBV.YoCf74g .LT6Ypiv {
    fill: #fff !important
}

.ZQi_S8t.nxZbHom:active,
.ZQi_S8t.nxZbHom:hover {
    background: #fff
}

.ZQi_S8t.nxZbHom.LoxiPc1.aFDYCpm {
    color: #a6eaca
}

.ZQi_S8t.nxZbHom.LoxiPc1.YoCf74g .LT6Ypiv {
    fill: #1dbf73
}

.ZQi_S8t.nxZbHom.LoxiPc1:hover {
    color: #19a463
}

.ZQi_S8t.nxZbHom.LoxiPc1:active {
    color: #188652
}

.ZQi_S8t.nxZbHom.BgvT2R7.aFDYCpm {
    color: #b9c9f7
}

.ZQi_S8t.nxZbHom.BgvT2R7.YoCf74g .LT6Ypiv {
    fill: #446ee7
}

.ZQi_S8t.nxZbHom.BgvT2R7:hover {
    color: #3f63c8
}

.ZQi_S8t.nxZbHom.BgvT2R7:active {
    color: #3453a8
}

.ZQi_S8t.nxZbHom.jd1oqtD.aFDYCpm {
    color: #fecdaa
}

.ZQi_S8t.nxZbHom.jd1oqtD.YoCf74g .LT6Ypiv {
    fill: #fc832b
}

.ZQi_S8t.nxZbHom.jd1oqtD:hover {
    color: #e37627
}

.ZQi_S8t.nxZbHom.jd1oqtD:active {
    color: #ca6923
}

.ZQi_S8t.nxZbHom.Y8pnvNm.aFDYCpm {
    color: #c5c6c9
}

.ZQi_S8t.nxZbHom.Y8pnvNm.YoCf74g .LT6Ypiv {
    fill: #62646a
}

.ZQi_S8t.nxZbHom.Y8pnvNm:hover {
    color: #404145
}

.ZQi_S8t.nxZbHom.Y8pnvNm:active {
    color: #222325
}

.ZQi_S8t.nxZbHom.Spwh6di.aFDYCpm {
    color: #fcb3b3
}

.ZQi_S8t.nxZbHom.Spwh6di.YoCf74g .LT6Ypiv {
    fill: #f74040
}

.ZQi_S8t.nxZbHom.Spwh6di:hover {
    color: #d93c3c
}

.ZQi_S8t.nxZbHom.Spwh6di:active {
    color: #c43333
}

.ZQi_S8t.dQJhGDG:active,
.ZQi_S8t.dQJhGDG:hover {
    color: #404145
}

.ZQi_S8t.dQJhGDG:hover {
    background: #e4e5e7
}

.ZQi_S8t.dQJhGDG:active {
    background: #dadbdd
}

.ZQi_S8t.dQJhGDG.a1WZUBV {
    border-color: #e4e5e7
}

.ZQi_S8t.YoCf74g {
    color: transparent !important;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.ZQi_S8t.YoCf74g .LT6Ypiv {
    opacity: 1;
    visibility: visible
}

.fiverr-header {
    background-color: #fff;
    -webkit-transition: background-color .5s ease;
    transition: background-color .5s ease;
    width: 100%
}

.fiverr-header .header-row-wrapper {
    -webkit-transition: border .5s ease;
    transition: border .5s ease
}

.fiverr-header a.fiverr-header-join {
    -webkit-transition: color .5s ease, border .5s ease;
    transition: color .5s ease, border .5s ease
}

.fiverr-header .fiverr-nav ul li .nav-label,
.fiverr-header .fiverr-nav ul li .nav-link {
    color: #74767e;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap
}

.fiverr-header .fiverr-nav ul li .nav-label.nav-link-green,
.fiverr-header .fiverr-nav ul li .nav-label:hover,
.fiverr-header .fiverr-nav ul li .nav-link.nav-link-green,
.fiverr-header .fiverr-nav ul li .nav-link:hover {
    color: #1dbf73
}

.fiverr-header .fiverr-nav ul li .nav-label.nav-link-green:hover,
.fiverr-header .fiverr-nav ul li .nav-link.nav-link-green:hover {
    color: #3fca89
}

.fiverr-header .fiverr-nav ul li .nav-label.nav-link-azure,
.fiverr-header .fiverr-nav ul li .nav-link.nav-link-azure {
    color: #02c2a9
}

.fiverr-header .fiverr-nav ul li .nav-label.nav-link-azure:hover,
.fiverr-header .fiverr-nav ul li .nav-link.nav-link-azure:hover {
    color: #28ccb7
}

.fiverr-header .fiverr-nav ul li .fiverr-header-login {
    white-space: nowrap
}

.fiverr-header .fiverr-nav ul li ul li .nav-link {
    display: block;
    font-weight: 400
}

.fiverr-header .fiverr-nav ul li ul li .nav-link:hover {
    color: #1dbf73
}

.fiverr-header .fiverr-nav ul li ul li .nav-link.new:after {
    color: #ff62ad;
    content: "New";
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transform: translate(5px, -2px);
    transform: translate(5px, -2px)
}

@media only screen and (min-width:600px) {
    .fiverr-header.header-sticky {
        position: fixed;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        z-index: 9998
    }

    .fiverr-header.header-full-width .header-row,
    .fiverr-header.header-full-width .row-main {
        max-width: 100%;
        padding: 0 16px
    }

    .fiverr-header.header-transparent {
        background-color: transparent
    }

    .fiverr-header.header-transparent .header-row-wrapper {
        border-color: transparent
    }

    .fiverr-header.header-transparent a.fiverr-header-join {
        border-color: #62646a;
        color: #62646a
    }

    .fiverr-header.header-transparent a.fiverr-header-join:hover {
        border-color: #1dbf73;
        color: #fff
    }
}

.resources-tab-popover {
    z-index: 10000 !important
}

.fiverr-header .fiverr-nav .lean-locale-settings {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fiverr-header .fiverr-nav .lean-locale-settings>.locale-setting-language-link {
    margin-right: 24px
}

.fiverr-header .fiverr-nav .lean-locale-settings .locale-settings-message-popover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.fiverr-header .fiverr-nav .lean-locale-settings .locale-settings-link-title {
    fill: #74767e;
    color: #74767e;
    font-weight: 600
}

.fiverr-header .fiverr-nav .lean-locale-settings .locale-settings-link-title:hover {
    fill: #1dbf73;
    color: #1dbf73
}

.fiverr-header .fiverr-nav .lean-locale-settings.hide-label .language-selection-trigger:hover {
    background-color: #efeff0
}

.fiverr-header .fiverr-nav .lean-locale-settings.hide-label .language-selection-trigger .trigger-icon {
    padding: 4px 0
}

.fiverr-header .fiverr-nav .lean-locale-settings.hide-label .language-selection-trigger .label {
    display: none
}

.locale-settings-package .currency-selection-trigger {
    background: none;
    border: none;
    white-space: nowrap
}

.locale-settings-package .currency-selection-trigger.default {
    color: #74767e;
    font-weight: 600;
    padding: 8px 12px
}

.locale-settings-package .currency-selection-trigger.default:hover {
    background-color: #f5f5f5;
    border-radius: 54px;
    color: #404145
}

.locale-settings-package .currency-selection-trigger.lean-menu,
.locale-settings-package .currency-selection-trigger.menu {
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px
}

.locale-settings-package .currency-selection-trigger.lean-menu:hover,
.locale-settings-package .currency-selection-trigger.menu:hover {
    color: #1dbf73
}

.locale-settings-package .currency-selection-trigger.menu {
    color: #74767e
}

.locale-settings-package .language-selection-trigger {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background: none;
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.locale-settings-package .language-selection-trigger.hide-title .label {
    display: none
}

.locale-settings-package .language-selection-trigger.hide-title .trigger-icon {
    padding-right: 0
}

.locale-settings-package .language-selection-trigger .trigger-icon {
    fill: #74767e;
    padding-right: 8px
}

.locale-settings-package .language-selection-trigger.default {
    color: #74767e;
    font-weight: 600;
    padding: 8px 12px
}

.locale-settings-package .language-selection-trigger.default:hover {
    background-color: #f5f5f5;
    border-radius: 54px;
    color: #404145
}

.locale-settings-package .language-selection-trigger.default:hover .trigger-icon {
    fill: #404145
}

.locale-settings-package .language-selection-trigger.lean-menu,
.locale-settings-package .language-selection-trigger.menu {
    font-size: 16px;
    line-height: 24px
}

.locale-settings-package .language-selection-trigger.lean-menu:hover,
.locale-settings-package .language-selection-trigger.menu:hover {
    color: #1dbf73
}

.locale-settings-package .language-selection-trigger.lean-menu:hover .trigger-icon,
.locale-settings-package .language-selection-trigger.menu:hover .trigger-icon {
    fill: #1dbf73
}

.locale-settings-package .language-selection-trigger.menu {
    border-radius: 4px;
    color: #74767e;
    width: 100%
}

.locale-settings-package .language-selection-trigger.menu .trigger-icon {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding: 0
}

.locale-settings-package .language-selection-trigger.menu .label {
    padding-right: 8px
}

.fiverr-header .site-logo {
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    display: block;
    height: 27px;
    margin: -5px auto;
    width: 89px
}

@media only screen and (min-width:600px) {
    .fiverr-header .site-logo {
        -ms-flex-item-align: auto;
        -webkit-align-self: auto;
        align-self: auto;
        margin: -4px 32px 0 0
    }
}

.fiverr-header .header-row-wrapper {
    border-bottom: 1px solid #e4e5e7;
    width: 100%
}

.fiverr-header .header-row-wrapper .header-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (min-width:600px) {
    .fiverr-header .header-row-wrapper .header-row {
        padding-bottom: 0;
        padding-top: 0
    }
}

.fiverr-header .header-row-wrapper .row-main {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-line-pack: justify;
    -webkit-align-content: space-between;
    align-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%
}

@media only screen and (min-width:600px) {
    .fiverr-header .header-row-wrapper .row-main {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -ms-flex-line-pack: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        height: 80px;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }
}

.fiverr-header .btn-navicon {
    background: none;
    border: 0;
    margin-right: 15px;
    outline: none
}

@media only screen and (min-width:600px) {
    .fiverr-header .btn-navicon {
        margin-top: 0
    }
}

@media only screen and (min-width:1160px) {
    .fiverr-header .btn-navicon {
        display: none
    }
}

.fiverr-header .btn-navicon.display-from-sm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (min-width:600px) {
    .fiverr-header .btn-navicon.display-from-sm {
        display: none
    }
}

.fiverr-header .btn-navicon.display-from-md {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (min-width:900px) {
    .fiverr-header .btn-navicon.display-from-md {
        display: none
    }
}

.fiverr-header .btn-navicon.display-from-lg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

@media only screen and (min-width:1160px) {
    .fiverr-header .btn-navicon.display-from-lg {
        display: none
    }
}

@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


@-webkit-keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.l2zL_z2 {
    padding-right: 12px !important
}

.GX9XrIg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 10px;
    font-weight: 700;
    -webkit-justify-content: center;
    justify-content: center;
    line-height: 100%;
    padding: 3px 7px 2px;
    text-align: center;
    text-decoration: none
}

.GX9XrIg .ZrNkHRC {
    background: none;
    border: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 9px;
    margin-left: 5px;
    opacity: .6;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
    width: 9px
}

.GX9XrIg .ZrNkHRC.RHDFeth {
    height: 6px;
    width: 6px
}

.GX9XrIg .ZrNkHRC svg {
    height: 100%;
    width: 100%
}

.GX9XrIg .ZrNkHRC:hover {
    opacity: 1
}

.GX9XrIg.C9OnaBq {
    text-decoration: none;
    -webkit-transition: background .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out;
    transition: background .15s ease-in-out, color .15s ease-in-out, border-color .15s ease-in-out
}

.GX9XrIg.Oy5pmnI {
    border-radius: 999px
}

.GX9XrIg.iAFKAdw {
    border-radius: 4px
}

.GX9XrIg.RHDFeth {
    text-transform: uppercase
}

.GX9XrIg.RHDFeth .ZrNkHRC {
    -webkit-transform: translateY(-.5px);
    transform: translateY(-.5px)
}

.GX9XrIg.Mjb1zBm,
.GX9XrIg.xJ21aeM {
    font-weight: 600
}

.GX9XrIg.Mjb1zBm .ZrNkHRC,
.GX9XrIg.xJ21aeM .ZrNkHRC {
    margin-left: 12px
}

.GX9XrIg.xJ21aeM {
    font-size: 14px;
    line-height: 160%;
    padding: 2px 12px
}

.GX9XrIg.Mjb1zBm {
    font-size: 16px;
    line-height: 150%;
    padding: 8px 20px
}

.jDz7CDl {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.olbHe5W {
    z-index: 10 !important
}

.mOywCb8 {
    width: 408px
}

.eRDJngP {
    border-radius: 8px
}

.FMqmY6A {
    width: 408px
}

.FMqmY6A .xtkLsAy {
    background-color: transparent !important
}

.FMqmY6A .FVtEBAp {
    background: url(https://fiverr-res.cloudinary.com/npm-assets/layout-service/hire-freelancer.e3fcf5a.svg);
    background-repeat: no-repeat
}

.FMqmY6A .FVtEBAp,
.FMqmY6A ._l5q8nw {
    -webkit-box-flex: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    height: 48px;
    width: 48px
}

.FMqmY6A ._l5q8nw {
    background: url(https://fiverr-res.cloudinary.com/npm-assets/layout-service/iam-freelancer.6e3c275.svg);
    background-repeat: no-repeat
}

.FMqmY6A .zzxjGvq {
    border: 1px solid #e4e5e7;
    border-radius: 8px;
    display: block;
    padding: 12px 16px;
    text-decoration: none
}

.FMqmY6A .zzxjGvq:hover {
    background-color: #f5f5f5
}

.rwqXLVG {
    border: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content
}

.T68oVsb {
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out
}

.T68oVsb.DNYNNtO {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fjnSr07 {
    color: #fff !important
}

.fjnSr07:hover {
    background: transparent !important
} */